@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
  background: #e3e3dc;
}
h1 {
  color: #444444;
  margin: 0px;
  padding-left: 20px;
  padding: 20px 0px 15px 0px;
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
}
h2      {
  color: #444444;
  font-family: 'Titillium Web', sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 24px;
}
.header {
  box-shadow: 0px 0px 15px -5px #333;
  width: 100%;
  background: #ffffff;
  margin: 0px;
  text-align: left;
  margin-bottom: 20px;
}
.header img {
  /* width: 80px; margin: 0px 20px; float: left; */
  padding:10px; margin: 0px 20px; float: left;
}
.description {
  margin: 0px;
  padding: 0px;  
}
.meters {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
.sensor {
  display: flex;
  background: #fff;
  margin: 10px;
  padding: 10px 20px;
  box-shadow: 0px 0px 15px -5px #333;
}
.box.meter {
  width: 200px;
  padding: 0px 50px;
}
.box.icon {
  justify-content: center;
  text-align: center;
  width: 150px;
  margin-top: 5px;
}
.box.icon img {
  justify-content: center;
  height: 90px;
}
.box.icon .location {
  padding: 10px 0px 0px 0px;
  margin: 0px;
  color: #444444;
}
.box.title {
  width: 200px;
  margin-top: 5px;
  padding: 0px 20px;
}
.box .description {
  color: #888888;
}
.footer {
text-align: center;
  color: #888;
  margin-top: 35px;
}
.color_white {
  /* background: #ffffff; */
  border-left: 8px solid #ffffff;
}
.color_red {
  /* background: #efd4d9; */
  border-left: 8px solid #ff0000;
}
.color_green {
  /* background: #ddeedd; */
  border-left: 8px solid #00ff00;
}
